<div *ngIf="!topic">Invalid topic</div>
<ng-container *ngIf="topic">
    <app-secondary-region header="{{ (topic | async)?.title }}">
        <div class="py-3">
            <blockquote class="fancy-font">
                {{ (topic | async)?.description }}
            </blockquote>
        </div>
        <div class="text-center my-4">
            <a
                [routerLink]="['/play/', (topic | async)?.id]"
                class="btn btn-primary rounded-pill"
                >Take the quiz</a
            >
        </div>
        <div class="word-bank fancy-font pb-4">
            <h5 class="text-center fw-bold mb-0">Word bank</h5>
            <div class="text-center">
                <small>{{ (topic | async)?.title }}</small>
            </div>
            <div
                *ngFor="let word of (topic | async)?.words"
                class="row justify-content-md-center my-0"
            >
                <div class="row gx-0 py-0">
                    <div class="col-6 text-end">
                        {{ word.original }}
                        <span class="text-muted">..........</span>
                    </div>
                    <div class="col-6 text-left">
                        <span class="text-muted">..........</span>
                        {{ word.translation }}
                    </div>
                </div>
            </div>
        </div>
    </app-secondary-region>
</ng-container>
