<nav>
    <div class="container py-2">
        <div class="row">
            <div class="col-6">
                <a [routerLink]="'/'" class="logo">
                    <span class="text-primary logo-word">WORD</span>
                    <span class="logo-quiz">quiz</span>
                </a>
            </div>

            <div class="col-6 text-end mt-2">
                <div *ngIf="authService.isLoggedIn">
                    <div *ngIf="authService.currentUser" class="mx-2 d-inline">
                        <a
                            [routerLink]="['/admin/topics']"
                            class="btn btn-link"
                            *ngIf="authService.currentUser.admin"
                            >[Admin]</a
                        >
                        &nbsp;
                        <span
                            >Hello,
                            {{ authService.currentUser.playerName }}</span
                        >
                        <button class="btn btn-link" (click)="logout()">
                            Logout
                        </button>
                    </div>
                    <a [routerLink]="'/topics'" class="btn btn-outline-primary">
                        Start playing
                    </a>
                </div>
                <div *ngIf="!authService.isLoggedIn">
                    <a
                        [routerLink]="'/user/login'"
                        class="btn btn-outline-primary"
                    >
                        Log in&nbsp;/&nbsp;Sign up
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
