<div class="container">
  <div class="my-5">
    <div class="my-5 py-5">
      <h1>
        <span class="heavy-font">Expand your</span><br />
        <span class="fancy-font text-primary">vocabulary</span>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-3 col-6">
        <span class="fancy-font mb-0 fs-1">100+</span><br />
        <span class="text-secondary">words</span>
      </div>

      <div class="col-md-3 col-6">
        <span class="fancy-font fs-1 mb-0">12</span><br />
        <span class="text-secondary">topics</span>
      </div>
    </div>
  </div>
</div>

<app-secondary-region header="Popular topics"> Content </app-secondary-region>
