<div class="container">
  <div class="my-5">
    <div class="my-5 py-5">
      <h1>
        <span class="heavy-font">Expand your</span><br />
        <span class="fancy-font text-primary">vocabulary</span>
      </h1>
    </div>

    <div class="row">
      <div class="col-md-3 col-6">
        <span class="fancy-font mb-0 fs-1">100+</span><br />
        <span class="text-secondary">words</span>
      </div>

      <div class="col-md-3 col-6">
        <span class="fancy-font fs-1 mb-0">12</span><br />
        <span class="text-secondary">topics</span>
      </div>
    </div>
  </div>
</div>

<app-secondary-region header="Popular topics">
  <div
    *ngFor="let topic of topics; let i = index"
    class="d-inline-block p-4 mx-3 topic topic-{{ i }}"
  >
    {{ topic }}
  </div>
</app-secondary-region>

<!-- Some marketing BS -->
<div class="container">
  <div class="my-5 row">
    <section class="col-6">
      <span class="fs-4">
        How well will <span class="text-primary">you</span> do?
      </span>
      <br />

      <div class="my-3">
        Our state-of-the-art testing environment will make sure that learning
        new words feels like a breeze. It keeps track of your guesses so that
        you are always challenged while also having fun.
      </div>
    </section>

    <img class="col-6 img-fluid" alt="" src="../../assets/img/clipart.png" />
  </div>
</div>
<!-- TESTIMONIALS -->
<app-secondary-region>
  <div class="container row py-5">
    <div class="col-12 col-sm-6 fancy-font">Testimonial one</div>
  </div>
</app-secondary-region>
