@use "variables";
$secondary-background: #b3bedd;
$secondary-font-color: black;
$accent-color: #9684ff;
$font-stack: "Open Sans", sans-serif;

.logo-word {
  font-family: "Tilt Warp", cursive;
}

.heavy-font {
  font-family: "Tilt Warp", cursive;
}

.logo-quiz {
  font-family: "Lora", serif;
}

.fancy-font {
  font-family: "Lora", serif;
}

.secondary-font {
  font-family: "Saira Condensed", sans-serif;
  word-spacing: 110%;
  letter-spacing: 0.1rem;
}

/* Bootstrap overrides */
$body-bg: variables.$body-bg;
$body-color: variables.$body-color;
$primary: variables.$primary;
$secondary: variables.$secondary;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 800px,
  xl: 900px,
  xxl: 1120px,
);

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
