#answer-box {
    border: 0;
    height: 40px;
    padding-left: 10px;
    font-size: 24px;
}

.step-button {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border: 0;
    transition: 100ms;
}

.step-button:hover {
    filter: brightness(90%);
}

#progressbar {
    color: white !important;
}
